{%load static%}
<!--Menu para celular-->
<div id="dropdown_seções">
    <div class="dropdown">
        <a class="btn btn-dark dropdown-toggle"  data-bs-toggle="dropdown" aria-expanded="false" href="#section_coment">
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'index'%}" id="home_drop">Home</a></li>
            <li><a class="dropdown-item" href="login.html" id="login_drop">Login</a></li>
            <li><a class="dropdown-item" href="register.html" id="register_drop">Cadastro</a></li>
            <li><a href="#" id="deslogar_drop" class="dropdown-item">Logout</a></li>
        </ul>
        </div>
</div>