{% load static %}
{% include 'partials/_title.html' %}
<body style="background-color: rgb(0,0,0,0.63)">
    <!--Menu da página-->
    {% include 'partials/_menu.html' %}
    <!--Conteudo prinpal desssa página-->
    <section id="conteudo_principal_comunidade">
        <!--Frase de efeito para a página-->
        <p id='firts_p' class="badge text-bg-light text-wrap fs-6">Apaixone-se por novas histórias, compartilhe suas resenhas e explore os melhores filmes, séries e animes da semana — tudo em um só lugar para quem vive a magia da ficção!</p>
        <p id="second_p" class="badge text-bg-light text-wrap fs-6">Descubra, compartilhe e celebre suas histórias favoritas — os melhores filmes, séries e animes estão aqui, toda semana!</p>
        
        <!--Forms para registrar a comunidade-->
        <div id="form_div_cm">

            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" id="criar_resenha">
                Crie uma resenha
              </button>
            <!--Modal do fórmulário-->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Cadastre sua resenha:</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!--Fórmulário no corpo sobre o cadastro da resenha filme/série/anime-->
                        <form id="form_add">
                        
                            <label for="input_title" >Titulo:</label>
                            <input type="text" name="input_title" id="input_title" placeholder="Digite o título do comentário"><br><br>
        
                            <label for="nome_filme">Nome do filme:</label>
                            <input type="text" name="filme" id="nome_filme" placeholder="Digite o nome do título"> <br><br>
        
                            <label>Spoiler:</label><br>
                            <input type="radio" name="input_spoiler" id="input_yes" value="sim">
                            <label for="input_yes">Sim</label>
                            <input type="radio" name="input_spoiler" id="input_no" value="não">
                            <label for="input_no">Não</label><br><br>
        
        
                            <label for="categoria">Selecione a categoria: </label>
                            <select name="categoria" id="categoria">
                                <option value="filme">Filmes</option>
                                <option value="serie">Série</option>
                                <option value="anime">Anime</option>
                            </select>
                            <br><br>
                            <label for="input_description">Descrição:</label><br>
                            <textarea name="input_description" id="input_description" placeholder="Escreve a descrição do post" ></textarea><br><br>
                        </form>
                    </div>
                    <div class="modal-footer">
                    <button type="button" id="addPost" class="btn btn-primary" data-bs-dismiss="modal">Enviar Post</button>
                    </div>
                </div>
                </div>
            </div>
        </div>
         <!--Comentários-->
            <h3 class="fw-bolder">Resenhas</h3><br>
            <div id="section_coment">
                <!--Conteúdo javascript-->
            </div>
        </div>
    </section>

</body>
</html>