{% include 'partials/_title.html' %}
<body style="background-color: rgb(0,0,0,0.63)">
    <!--Menu da página-->
    {%include 'partials/_menu.html'%}
    <!--Seção de conteúdo do site-->
    <section id="conteudo_principal">
        <div id="content">
            <p class="title">Bem-vindo ao nosso espaço para amantes do cinema! Aqui, você pode explorar nossa coleção de filmes, cadastrar seus títulos favoritos e compartilhar seus pensamentos e opiniões. Acreditamos que cada filme tem uma história para contar e uma comunidade para unir.</p>
        </div>
        <h1 class="title" >Mais pesquisados da semana:</h1>
        <div id="noticias">
        </div>
    </section>


</body>
</html>
